*{
  --color1:#ddffff;
  --color2:#e4fbfb;
  --color3:#c4deda;
  --color4:#9dd4d2;
  --color5:#4da59b;
  --color6:#4da4a5;
  --color7:#3eb6b8;
  --color8:#59c7ca;
  --color9:#43bcc7;
  --color10:#30c3b2;

}

